body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}

.name-color{
    color: #FF5733;
}

section{
    display: flex;
    margin-bottom: 150px;
}

.half-width{
    width: 50%;
    padding: 0% 5%;
}

.half-width img{
    width: 90%;
}

.hireme-button{
    text-decoration: none;
    background-image: linear-gradient(to right, #fc4a1a, #f7b733);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.again-half-width{
    width: 50%;
    padding: 0% 5%;
}

.again-half-width img{
    width: 70%;
    height: 90%;
    border: 8px solid #FFA61E;
    border-radius: 40px 5px;
}

.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}